<div class="modal-dialog modal-xl modal-dialog-centered">
    <!-- <div class="modal-content">
     
        <div class="d-flex justify-content-end">
        <button type="button" class="rond" data-bs-dismiss="modal" aria-label="Close">
          <img src="assets/images/close.png" alt="">
        </button>
     </div>
      <div class="modal-body">
        <div class="slide-content">
          <div class="main-header">
           <h3 class="mb-20" class="mb-20" data-aos="fade-left" data-aos-duration="1000">Activity 1: Identifying Value</h3>
           <hr data-aos="fade-right" data-aos-duration="1000">
          </div>
          
          <div data-aos="fade-up" data-aos-duration="2000">
           <p class="">Given the product clues, identify value drivers for your product. You will need at least 3 value drivers & 1 negative value driver to enter your responses, but you should aim for 5 value drivers.</p> 
           <p class="">Please keep in mind that any value driver you submit will need to be calculated in subsequent steps of this course.</p>
          </div>
           
           <div class="sub-header" >
               <h5 data-aos="fade-left" data-aos-duration="2000">Customer Facts</h5>
           <hr data-aos="fade-right" data-aos-duration="2000">
           </div>
           
  
           <div data-aos="fade-up" data-aos-duration="2000">
               <ul >
                   <li>Cattle count peformed 2x daily, which requires 2 hours of labor total. Cattle counter is paid $20/hour.This is done 365 days a year</li>
                   <li>They have a monthly deadline to turn in cattle counts, or else they are fined $1,000. Late counts happen on average, 3 months each year</li>
                   <li>About half the days, there isn't work to do for everyone, so there are about 20 hours of unaccounted work on those days</li>
                   <li>Daily, about 20% of pens don't need food replenishment, but it's different every time. It takes about 2 hours each day to do this job </li>
                   <li>There are about 30 extreme weather events yearly when the drone wouldn't be able to fly. They may have to pay someone overtime (4x) to come in those days & count</li>
                   <li>Having real time data on cow health could help client catch disease early, reducing loss by .01%</li>
               </ul>
  
               
               
               <div class="d-flex justify-content-center">
                   <div class="table1">
                       <table>
                           <tr>
                               <th class="txt-white">Customer Name</th>
                               <th class="text-center bg-wh txt-white">Supreme Pastures</th>
                               
                           </tr>
       
                           <tr>
                               <td>Deal Term (Months)</td>
                               <td class="text-center bg-wh">12</td>
                               <td rowspan="7">$20/hr, <br> on average <br> $100,000</td>
                           </tr>
       
                           <tr>
                               <td>Number of Cows</td>
                               <td class="text-center bg-wh">20,000</td>
                           </tr>
       
                           <tr>
                               <td>Number of Employees</td>
                               <td class="text-center bg-wh">44</td>
                           </tr>
       
                           <tr>
                               <td>Number of Vet Employees</td>
                               <td class="text-center bg-wh">2</td>
                           </tr>
       
                     
       
                           <tr>
                               <td>Loss Each Year Preventable Cattle Deaths</td>
                               <td class="text-center bg-wh">2.00%</td>
                           </tr>
       
                           <tr>
                               <td>Profit Per Cow</td>
                               <td class="text-center bg-wh">500</td>
                           </tr>
       
                        
       
                       </table>
                   </div>
               </div>
           </div>
  
    
   </div>
      </div>

    </div> -->
 
    <div class="modal-content">
     
        <div class="d-flex justify-content-end">
        <button type="button" class="rond" data-bs-dismiss="modal" aria-label="Close">
          <img src="assets/images/close.png" alt="">
        </button>
     </div>
      <div class="modal-body">
        <div class="slide-content">
          <div class="main-header">
           <h3 class="mb-20" class="mb-20" data-aos="fade-left" data-aos-duration="1000">Product Features</h3>
           <hr data-aos="fade-right" data-aos-duration="1000">
          </div>
          
          <div data-aos="fade-up" data-aos-duration="2000">
           <p class="">Cattleview is a brand-new product geared toward cow farmers that provides real-time data on animal count, movement/behavior,  and health metrics such as temperature. It can help spot preventable health issues in cattle with early detection and saves a significant amount of time tracking inventory - Product specs claim to reduce hours spent on animal counting by 95%.</p> 
           <p class="">Cattleview is unable to fly in extreme weather conditions.</p>
           <p class="">Cattleview's main competitors are similar drones from JBS that cost less ($1,000/month) but lacks some of the features like health metrics.  
            Your job is to create a unique, creative value proposition by first identifying value drivers then calculating the value of the most important value drivers, and then communicating your value proposition to your prospective client, Supreme Pastures.</p>
          </div>
           
           <div class="sub-header" >
               <h5 data-aos="fade-left" data-aos-duration="2000">Customer Facts</h5>
           <hr data-aos="fade-right" data-aos-duration="2000">
           </div>
           <div data-aos="fade-up" data-aos-duration="2000">
               <ul>
                   <li>Cattle count peformed 2x daily, which requires 2 hours of labor total. Cattle counter is paid $20/hour. This is done 365 days a year</li>
                   <li>They have a monthly deadline to turn in cattle counts, or else they are fined $1,000. Late counts happen on average, 3 months each year</li>
                   <li>About half the days, there isn't work to do for everyone, so there are about 20 hours of unaccounted work on those days</li>
                   <li>Daily, about 20% of pens don't need food replenishment, but it's different every time. It takes about 2 hours each day to do this job </li>
                   <li>There are about 30 extreme weather events yearly when the drone wouldn't be able to fly. They may have to pay someone overtime (4x) to come in those days & count</li>
                   <li>Having real time data on cow health could help client catch disease early, reducing loss by .01%</li>
               </ul>
  
               
               
               <div class="d-flex justify-content-center">
                   <div class="table1">
                       <table>
                           <tr>
                               <th class="txt-white">Customer Name</th>
                               <th class="text-center bg-wh txt-white">Supreme Pastures</th>
                               
                           </tr>
       
                           <tr>
                               <td>Deal Term (Months)</td>
                               <td class="text-center bg-wh">12</td>
                               <td rowspan="7">$20/hr, <br> on average <br> $100,000</td>
                           </tr>
       
                           <tr>
                               <td>Number of Cows</td>
                               <td class="text-center bg-wh">20,000</td>
                           </tr>
       
                           <tr>
                               <td>Number of Employees</td>
                               <td class="text-center bg-wh">44</td>
                           </tr>
       
                           <tr>
                               <td>Number of Vet Employees</td>
                               <td class="text-center bg-wh">2</td>
                           </tr>
       
                     
       
                           <tr>
                               <td>Loss Each Year Preventable Cattle Deaths</td>
                               <td class="text-center bg-wh">2.00%</td>
                           </tr>
       
                           <tr>
                               <td>Profit Per Cow</td>
                               <td class="text-center bg-wh">500</td>
                           </tr>
       
                        
       
                       </table>
                   </div>
               </div>
           </div>
  

           <!-- <div class="d-flex justify-content-center mt-3 mb-5">
            <div class="pop-btn" (click)="print()">
                Download PDF
              </div>
          </div> -->

   </div>


      </div>

      

    </div>
</div>
