@import "../variable.scss";

ul li{
    padding-top: 10px;
 }
 
 
 .table1 {
     // background-color: white;
     // background-image: url('../../assets/images/table.svg');
     background-color: $primary_new;
     border-radius: 20px;
     padding: 20px;
     margin-bottom: 30px;
     width: fit-content;
   
     table {
       border-collapse: collapse;
       width: 100%;
     }
   
     th,
     td {
       padding: 10px;
       text-align: left;
       border-bottom: 1px solid rgb(221 221 221 / 0.27);
       color: #fff;
     }
   
     // .txt-white {
     // }
   
     .bg-wh {
       background-color: #ffffff30;
     }
   }


 .pop-btn{
  background-color: $secondary_new ;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50px;
  width: 350px;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.bg-pattern {
  background-image: url("../../assets/images/bg.png");
  min-height: calc(100vh - 480px);
}

@media print  {

  .hide{
      display: none;
  }

  .main-header{
    margin-top: -115px;
  }

  .sub-header{
    margin-top: -2px;
  }
  
  h3{
    font-size: 32px;
  }

  h5{
    font-size: 22px;
  }

  p{
    font-size: 15px;
  }

  ul li{
    font-size: 15px;
    margin-top: -5px;
  }

  .table1{
    padding: 4px;
    table{
      font-size: 16px;
    }

    td, th{
      padding: -10px !important;
    }
  }

  .bg-pattern{
    background-image: none;
  }





}