$primary          : #DAAA00;
$primary_new      : #279989;
$secondary        : #007580;
$secondary_new    : #005f86;
$secondary_dark   : #007c8b;
$secondary_lite   : #00ada7;
$secondary2       : #388c96;
$tertiary         : #519136;
// $lite_bg          : #d8e7e9;
$lite_bg          : #E6EFF3;


$tertiary_lite    : #acaf37;
$screen-sm-min    : 576px;
$red              :#9E2A2F;
// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}


// Extra large devices
@mixin min($width) {
  @media (max-width: #{$width}) {
    @content;
  }
}

.show_md {
  display: none;

  @include md {
    display: block;
  }
}

.hide_md {
  @include md {
    display: none;
  }
}

.mt-1 {
  margin-top: -1px;
}

.margin-tb {
  margin: 50px 0;
}
