<div class="bg">
     <!-- <div class="text-center pt-3" data-aos="fade-up" data-aos-duration="1000">
      <h1 class="head-txt">CARGILL CATTLEVIEW</h1>
      <h2>Strategic Pricing Masterclass</h2>
    </div> -->
  </div>

<div class="bg-pattern">

  <!-- <div class="page1">
    <div class="container pt-4" data-aos="fade-left" data-aos-duration="1000">


      <div class="main-header">
        <h3 class="mb-20" data-aos="fade-left" data-aos-duration="1000">Product Features</h3>
        <hr data-aos="fade-right" data-aos-duration="1500">
      </div>

      <div data-aos="fade-up" data-aos-duration="2000">
        <p>Cattleview is a brand new product geared toward cow farmers that provides real-time data on animal count,
          movement/behavior, & health metrics such as temperature. It can help spot preventable health issues in cattle
          with early detection and saves a significant amount of time tracking inventory - Product specs claim to reduce
          hours spent on animal counting by 95%</p>
        <p>Cattleview's main competitors are similar drones from JBS that cost less ($1,000/month), but lack some of the
          features like health metrics. Cattleview is also unable to fly in extreme weather conditions. Your job is to
          create a unique, creative value proposition by first identifying value drivers then calculating the value of
          the most important value drivers, and then communicating your value proposition to your prospective client,
          Supreme Pastures.</p>
      </div>

      <div class="sub-header" >
        <h5 >Customer Facts</h5>
      <hr >
      </div>
      
      
      <div >
        <ul >
            <li>Cattle count peformed 2x daily, which requires 2 hours of labor total. Cattle counter is paid $20/hour.This is done 365 days a year</li>
            <li>They have a monthly deadline to turn in cattle counts, or else they are fined $1,000. Late counts happen on average, 3 months each year</li>
            <li>About half the days, there isn't work to do for everyone, so there are about 20 hours of unaccounted work on those days</li>
            <li>Daily, about 20% of pens don't need food replenishment, but it's different every time. It takes about 2 hours each day to do this job </li>
            <li>There are about 30 extreme weather events yearly when the drone wouldn't be able to fly. They may have to pay someone overtime (4x) to come in those days & count</li>
            <li>Having real time data on cow health could help client catch disease early, reducing loss by .01%</li>
        </ul>
      </div>

      <div class="d-flex justify-content-center" >
        <div class="table1">
            <table>
                <tr>
                    <th class="txt-white">Customer Name</th>
                    <th class="text-center bg-wh txt-white">Supreme Pastures</th>
                    
                </tr>

                <tr>
                    <td>Deal Term (Months)</td>
                    <td class="text-center bg-wh">12</td>
                    <td rowspan="7">$20/hr, <br> on average <br> $100,000</td>
                </tr>

                <tr>
                    <td>Number of Cows</td>
                    <td class="text-center bg-wh">20,000</td>
                </tr>

                <tr>
                    <td>Number of Employees</td>
                    <td class="text-center bg-wh">44</td>
                </tr>

                <tr>
                    <td>Number of Vet Employees</td>
                    <td class="text-center bg-wh">2</td>
                </tr>

          

                <tr>
                    <td>Loss Each Year Preventable Cattle Deaths</td>
                    <td class="text-center bg-wh">2.00%</td>
                </tr>

                <tr>
                    <td>Profit Per Cow</td>
                    <td class="text-center bg-wh">500</td>
                </tr>

             

            </table>
        </div>
        
    </div>



<div class="d-flex justify-content-center">
  <div class="submit-btn1 mt-4 mb-4 me-5 text-center d-flex ajcenter">
    <button routerLink="/m1">Get Started</button>
  </div>



  </div>

  <br><br>
  </div>
</div> -->

<div class="container pt-5 pb-5" >
  
  <div class="" data-aos="fade-right" data-aos-duration="1000">
    <div class="main-header" >
      <h3>Value Waterfall Builder</h3>
    <hr>
    <div class="banner float-right">
      <img  src="assets/images/bucket.png" alt="">
    </div>
    <p>A waterfall chart can be a useful tool to summarize the value that you bring to a potential customer. This tool will allow you to build your own simple waterfall chart in a few minutes. </p>
    </div>
    

  
    <!-- <div class="main-header">
      <h3 class="mb-20" data-aos="fade-right" data-aos-duration="1000">Welcome! This is Buckets o' Value</h3>
      <hr data-aos="fade-right" data-aos-duration="1500">
      <p data-aos="fade-right" data-aos-duration="1500">As part of the Strategic Pricing Masterclass, you and your cohort will work through the interactive activities on this site & in Mural over the next 3 weeks. 
        The goal of this exercise is to gain practice crafting a value proposition from start to finish. By the end of this course, you should be more familiar with identifying, calculating, and communicating value. 
        We encourage you to get creative & discuss each activity with your coach & cohort. </p>
    </div> -->
  </div>

  <!-- <div class="main-header">
    <h3 class="mb-20" data-aos="fade-right" data-aos-duration="1000">Welcome! This is Buckets o' Value</h3>
    <hr data-aos="fade-right" data-aos-duration="1500">
    <p data-aos="fade-right" data-aos-duration="1500">As part of the Strategic Pricing Masterclass, you and your cohort will work through the interactive activities on this site & in Mural over the next 3 weeks. 
      The goal of this exercise is to gain practice crafting a value proposition from start to finish. By the end of this course, you should be more familiar with identifying, calculating, and communicating value. 
      We encourage you to get creative & discuss each activity with your coach & cohort. </p>
  </div> -->


    
  <div data-aos="fade-right" data-aos-duration="1000">
   
      <!-- <p><u class="fw-bold">Before starting these activities</u>, familiarize yourself with the provided case study by clicking the Product Features & Customer facts button.</p>
      <p>In <span class="fw-bold">Week 1</span>, you and your team will <span class="fw-bold">to identify</span> and enter 3-5 value drivers, including 1 negative value driver in Mural. The values that you have entered will be saved for the next week's activity, where you will quantify each of your selected value drivers. You can download the sheet as a PDF and use for your collaborative discussion.</p>
      <p>In <span class="fw-bold">Week 2</span>, you will calculate the value of each value driver from week 1. Hint: the product & customer clues are a great place to start if you get stuck. However, keep in mind that it is more about using creativity to illustrate value than finding an exact value. The values you calculate will automatically create a value waterfall, which you will use in the subsequent weeks of the course</p>
      <p>In <span class="fw-bold">Week 3</span>, you will use the quantified value drivers & value waterfall from weeks 1 & 2 to create a value proposition in Mural with your team. The goal of this exercise is to <span class="fw-bold">communicate</span> the value of your product to the client in your case study. </p>
      <p>Note: You can access week 2 and week 3 activities only when you have completed the previous weeks’ activities.
        Select the Product Features button for more details.</p> -->
        <!-- <div class="sub-header" >
          <h5>Value Waterfall Builder</h5>
        <hr >
        </div>
        <p>A waterfall chart can be a useful tool to summarize the value that you bring to a potential customer. This tool will allow you to build your own simple waterfall chart in a few minutes. </p> -->
       <div class="pt-3">
        <p class="fw-bold pb-0">Using This Tool</p>
        <p>You can include up to 5 elements in your waterfall of 3 different types:</p>
        <ul class="li-pad">
          <li><u>Next Best Alternative</u> - the option that your customer will choose if they don't purchase your solution</li>
          <li><u>Positive Value Drivers</u> - differentiating capabilities that provide value to the customer</li>
          <li><u>Negative Value Drivers</u> - instances where your solution provides inferior value to the customer relative to the competition</li>
        </ul>

        <p class="fw-bold pb-0 pt-3">Please note:</p>
        <ul class="li-pad">
          <li>Please enter numbers only (you can enter in a decimal)</li>
          <!-- <li>Due to the technical constraints of the tool, numbers you input must be between -$150,000 and $150,000</li> -->
          <li>If a value is supposed to be negative, it must be entered as a negative number to appear correctly in the waterfall</li>
        </ul>
       </div>
      
      
      
      
      <!-- <div class="inspop">
        <div><p class="ins">Select the Product Features button for more details.</p></div> 
        <div class="pop-btn" routerLink="/ins">Product Features and Customer Facts</div> 
      </div> -->

      <div class="tab-buttons">
        <div class="tab" routerLink="/m1">
         Get Started
        <img class="img-tick" src="assets/images/tick.svg" alt="" *ngIf = "this.service.visit1 == true">
        </div>
        <!-- <div class="tab unvisited" [class.visited]="this.service.visit1 == true">Step 2
          <img class="img-tick" src="assets/images/tick.svg" alt="" *ngIf = "this.service.visit2 == true">
        </div> -->
        <!-- <div class="tab unvisited"  [class.visited]="this.service.visit1 == true && this.service.visit2 == true">Step 3
          <img class="img-tick" src="assets/images/tick.svg" alt="" *ngIf = "this.service.visit3 == true">
        </div> -->
      </div>

  </div>

  

  </div>
  

</div>









  <!-- <div class="submit-btn1 mt-4 mb-4 text-center d-flex ajcenter">
    <div class="btn_new" data-bs-toggle="modal" href="#staticBackdrop" role="button">Click to view ‘Customer Facts’</div>
    
  </div> -->

 <!-- <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="slide-content">
        <div class="main-header">
         <h3 class="mb-20" class="mb-20" data-aos="fade-left" data-aos-duration="1000">Activity 1: Identifying Value</h3>
         <hr data-aos="fade-right" data-aos-duration="1000">
        </div>
        
        <div data-aos="fade-up" data-aos-duration="2000">
         <p class="hide">Given the product clues, identify value drivers for your product. You will need at least 3 value drivers & 1 negative value driver to enter your responses, but you should aim for 5 value drivers.</p> 
         <p class="hide">Please keep in mind that any value driver you submit will need to be calculated in subsequent steps of this course.</p>
        </div>
         
         <div class="sub-header" >
             <h5 data-aos="fade-left" data-aos-duration="2000">Customer Facts</h5>
         <hr data-aos="fade-right" data-aos-duration="2000">
         </div>
         

         <div data-aos="fade-up" data-aos-duration="2000">
             <ul >
                 <li>Cattle count peformed 2x daily, which requires 2 hours of labor total. Cattle counter is paid $20/hour.This is done 365 days a year</li>
                 <li>They have a monthly deadline to turn in cattle counts, or else they are fined $1,000. Late counts happen on average, 3 months each year</li>
                 <li>About half the days, there isn't work to do for everyone, so there are about 20 hours of unaccounted work on those days</li>
                 <li>Daily, about 20% of pens don't need food replenishment, but it's different every time. It takes about 2 hours each day to do this job </li>
                 <li>There are about 30 extreme weather events yearly when the drone wouldn't be able to fly. They may have to pay someone overtime (4x) to come in those days & count</li>
                 <li>Having real time data on cow health could help client catch disease early, reducing loss by .01%</li>
             </ul>

             
             
             <div class="d-flex justify-content-center">
                 <div class="table1">
                     <table>
                         <tr>
                             <th class="txt-white">Customer Name</th>
                             <th class="text-center bg-wh txt-white">Supreme Pastures</th>
                             
                         </tr>
     
                         <tr>
                             <td>Deal Term (Months)</td>
                             <td class="text-center bg-wh">12</td>
                             <td rowspan="7">$20/hr, <br> on average <br> $100,000</td>
                         </tr>
     
                         <tr>
                             <td>Number of Cows</td>
                             <td class="text-center bg-wh">20,000</td>
                         </tr>
     
                         <tr>
                             <td>Number of Employees</td>
                             <td class="text-center bg-wh">44</td>
                         </tr>
     
                         <tr>
                             <td>Number of Vet Employees</td>
                             <td class="text-center bg-wh">2</td>
                         </tr>
     
                   
     
                         <tr>
                             <td>Loss Each Year Preventable Cattle Deaths</td>
                             <td class="text-center bg-wh">2.00%</td>
                         </tr>
     
                         <tr>
                             <td>Profit Per Cow</td>
                             <td class="text-center bg-wh">500</td>
                         </tr>
     
                      
     
                     </table>
                 </div>
             </div>
         </div>

  
 </div>
    </div>
  </div>
</div> 
 -->

 


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
 <app-model></app-model>
</div>